---
t:title: Waibu Admin
css:
  - waibuDb.virtual:/bs-table/bootstrap-table.min.css
scripts:
  - waibuDb.virtual:/bs-table/bootstrap-table.min.js
  - ^waibuExtra.virtual:/jquery/jquery.min.js
---
<c:page-start>
  <title><%= frontMatter.title ?? page.title %></title>
</c:page-start>
<c:include resource="waibuAdmin.template:/partial/layout/navbar.html" />
<c:container margin="top-3 bottom-5">
  <c:grid-row>
    <c:grid-col col="8-sm 9-md 10-lg">
      <!-- body -->
    </c:grid-col>
    <c:grid-col col="4-sm 3-md 2-lg">
      right
    </c:grid-col>
  </c:grid-row>
</c:container>
<c:page-end />
